body {
    background-image: url(../assets/images/fondo.png);
    background-size: cover;
    font-family: Monserrat;
}

.empleadohome-container {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.empleadohome-navbar {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 50px;
    background-color: #3f3f46;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.empleadohome-navbar .navbar-logo {
    height: 50px;
    display: flex;
    flex-direction: row;
    width: 300px;
    align-items: center;
}

.empleadohome-navbar img {
    width: 20%;
}

.empleadohome-navbar .navbar-logo h3 {
    font-size: 2rem;
    font-family: Prata;
}

.empleadohome-navbar span {
    background-color: #FA9500;
    padding: 5px 10px;
    margin: 0px 10px;
    border-radius: 10px;
}

.empleadohome-navbar #inicio {
    background-color: #BABD8D;
}


.empleadohome-body {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    background-color: #BABD8D;
    padding-top: 0px;
    padding-bottom: 20px;
    margin-top: 40px;
}



.empleadohome-aside div {
    margin: 50px 50px 0 0;
}

.empleadohome-aside div form {
    display: flex;
    flex-direction: column;
    background-color: #BABD8D;
    color: #333;
    padding: 20px;
    padding-top: 0px;
    width: 250px;
}

.empleadohome-aside div form h3 {
    margin: 0px;
    font-size: 2rem;
    color: #245415;
}

.empleadohome-aside div form #boton-guardar {
    background-color: #245415;
    color: #fff;
    padding: 0px;
    margin-top: 10px;
    width: 50%;
    display: none;
    cursor: pointer;
    border-radius: 10px;
    align-self: center;
}

.empleadohome-aside div form #boton-agregar {
    background-color: #245415;
    color: #fff;
    padding: 0px;
    margin-top: 10px;
    width: 50%;
    align-self: center;
}

.empleadohome-aside div form #boton-cancelar {
    background-color: #fb0707;
    color: #fff;
    padding: 0px;
    margin-top: 10px;
    align-self: center;
    border-radius: 10px;
    width: 50%;
    display: none;
    cursor: pointer;
}

.empleadohome-aside div form input,
.empleadohome-aside div form textarea,
.empleadohome-aside div form select {
    margin: 5px;
    background-color: white;
    color: #333;
}

.empleadohome-aside div form label {
    align-self: flex-start;
}

.empleadohome-section {
    margin-top: 50px;
    width: 100%;
    background-color: #BABD8D;
}

.empleadohome-section h3 {
    font-size: 1.5rem;
    color: #245415;

}

.empleadohome-find {
    width: 800px;
}

.empleadohome-find input {
    padding-top: 0px;
    width: 100%;
    background-color: #fff;
    height: 30px;
    color: #333;
}

.empleadohome-tasks {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.empleadohome-tasks h2 {
    width: 100%;
    font-size: 2rem;
    color: #245415;
    margin: 5px 0px 0px;
}

.empleadohome-task {
    background-color: #BABD8D;
    width: 250px;
}

.form-validation-span {
    color: #fb0707;
    font-family: Arial, Helvetica, sans-serif;
    display: none;
}

#msg-alert-find {
    background-color: #245415;
    padding: 20px;
    color: #BABD8D;
    font-size: 1.5rem;
    display: none;
}